<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    uprawnienie do pobierania danych z internetu-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudiaDzienne"
        tools:targetApi="31">

        <service android:name=".restaurant.services.ShopService" android:exported="false"/>
        <activity
            android:name=".restaurant.ComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.StudiaDzienne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".FirstActivity"
            android:exported="true"></activity>
        <activity
            android:name=".restaurant.RestaurantActivity"
            android:exported="true">

            <!-- oznaczenie activity które jest uruchamiane na starcie aplikacji -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>